body {
  margin: 0;
  padding: 0 3rem;
  background-color: whitesmoke;
}

#header {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: 0.5em;
  padding: 0.5em;
}

.nav-link {
  list-style-type: none;
  display: flex;
  gap: 10px;
}

.nav-link li {
  margin: 0.5em;
  padding: 0.5em;
}
